# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#bin and obj folders
Packages/
RestClient.NET.sln.ide/
TestResults/
Examples/OpenWeatherMapAPI/bin/
Examples/OpenWeatherMapAPI/obj/
UnitTests/RestClient.NET_Tests/bin/
UnitTests/RestClient.NET_Tests/obj/
RestClient.NET/bin/
RestClient.NET/obj/
ImportWADL/bin/
ImportWADL/obj/
.vs/RestClient.NET/v14/vbcs.cache/
*.suo
*.user

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

